RewriteEngine on
RewriteBase /DOC/
RewriteRule ^([a-zA-Z0-9_-]+)/?$ index.php?page=$1 [L,QSA]
#php_flag display_startup_errors on
#php_flag display_errors on
#php_flag html_errors on
AuthUserFile /Library/WebServer/Documents/DJ/DOC/.passwd
AuthName "Password Required"
AuthType Basic
require valid-user 
#AuthGroupFile /www/passwords/group.file
