/* GENERAL DOCUMENT STYLE */

html, body{
	margin:0px;
	padding:0px;
    height:100%;
}
body{
	height:100%;
	/*max-height:100%;*/

    text-align: center;
	/* font-family:Futura,"Century Gothic",AppleGothic,sans-serif; */
	font-family:arial;
    padding-top:20px;
}

#content{
    top: 50px;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: auto;
    margin-left: 10px;
    margin-right: 10px;
    text-align:left;
   
}

#homeSearch{
    width:600px;
    margin:auto;
}

#searchBox{
    width:450px;
    margin:auto;
}

#searchButton{
/*    margin-top:10px;
    padding-top:10px;*?
    width:60px;
}
