/* GENERAL DOCUMENT STYLE */

html, body{
	margin:0px;
	padding:0px;
}
body{
	height:100%;
	/*max-height:100%;*/

    text-align: center;
	/* font-family:Futura,"Century Gothic",AppleGothic,sans-serif; */
	font-family:arial;
    padding-top:20px;
}

#content{
    top: 50px;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: auto;
    margin-left: 10px;
    margin-right: 10px;
    text-align:left;
}

#header{
    text-align:left;
    border-bottom-style:solid;
    border-bottom-color:black;
    border-bottom-width:4px;
    margin-bottom:5px;
}
#homeSearch{
    width:500px;
    margin:auto;
}

#searchBox{
    width:450px;
    margin:auto;
}
a{
	color:#3B59A5;
	font-family:Futura,"Century Gothic",AppleGothic,sans-serif;
}


#searchButton{
    margin-top:10px;
    padding-top:10px;
    width:60px;
}

label{
    padding-right:5px;
}

#header form label h1{
    display:inline;
}

#snippets{
    margin-top:0px;
    padding-top:0px;
    margin-left:20px;
}
.snippet{
    margin-top:0px;
    padding-top:0px;
}

#searchResult{
    margin-bottom:20px;
}

.snipSep{
    font-style: italic;
    font-weight:bold;
}

.curPage{
    text-decoration: none;
    color:black;
}

a{
    text-decoration: none;
}